
    <div class="col-lg-4 xs-4 mb-4 container" style="margin-top: 15px;">
    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <div  class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email adresi</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email adresiniz" formControlName="email" required>
          <div id="emailHelp" class="form-text">Örnek: (örnek@örnek.com)</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Şifre</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifreniz" formControlName="password" required>
          <div id="passwordHelp" class="form-text">Şifrenizi bilmiyorsanız sistem yöneticiniz ile iletişime geçiniz.</div>
        </div>
        <div class="col text-center">
            <button type="submit" class="btn btn-primary">Giriş</button>
        </div>
      </form>
    </div>
